<div class="planet-box col-lg-4">
    <div class="title" data-id="{{id}}">
        <div class="ht-tm-codeblock">
            <div class="ht-tm-element card text-center">
                <div class="image-container">
                    <div style="margin-top: 50px" class="circle effect6">
                        <img id="yourPlanetImage" src="{{imageUrl}}" width="200px" height="200px"
                             alt="Your Planet">
                    </div>
                </div>
                <div class="card-body" data-id="{{id}}">
                    <h2 style="margin-bottom: 25px" class="card-title">{{name}}</h2>

                    <div class="row" style="margin: 15px">
                        <h5 class="col-sm-6 text-right card-title">Level:</h5>
                        <p class="col-sm-4 text-left card-text">{{level}}</p>
                    </div>
                    <div class="row" style="margin: 15px">
                        <h5 class="col-sm-6 text-right card-title">Win count:</h5>
                        <p class="col-sm-4 text-left card-text">{{winCount}}</p>
                    </div>
                    <div class="row" style="margin: 15px">
                        <h5 class="col-sm-6 text-right card-title">Loss count:</h5>
                        <p class="col-sm-4 text-left card-text">{{lossCount}}</p>
                    </div>

                        {{#if isNotOwner}}
                         <a href="#!" style="margin: 15px" id="btnAttack" class="btn btn-outline-danger attack">Attack!</a>
                         {{else}}
                         <a href="#!"  style="margin: 15px"  id="btnYourPlanet" class="btn btn-outline-primary attack">Your Planet</a>
                          {{/if}}


                </div>
            </div>
        </div>
    </div>
</div>

